doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="socket.io/socket.io.js")
		script(src="javascripts/lib/react.min.js")
		script(src="javascripts/lib/jsx.js")
		script(src="javascripts/lib/react-dom.min.js")
		script(src="javascripts/lib/react-dom-server.min.js")
		script(src="javascripts/lib/angular.min.js")
		script(src="javascripts/lib/angular-ui-router.js")
		script(src="javascripts/app.js")
		script(type="text/jsx" src="javascripts/ReactApp.js")

	body
		block content
